<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pages/navbarFooter.css"/>
  <link rel="stylesheet" href="../css/pages/404.css">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <title>{{title}}</title>
</head>
<body>
  {{>navbar}}

<main>
  <div class="not-found-animation">
  <dotlottie-player src="https://lottie.host/7c2f0882-0ef1-4705-8d1a-9ff79d798683/Y4xj69mXFr.lottie" background="transparent" speed="1" style="width: 600px; height: 600px" loop autoplay></dotlottie-player>
  </div>
</main>


  {{>footer}}
  <script src="./js/nav.js"></script>


</body>
</html>