<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../css/pages/aboutUs.css" />
      <link rel="stylesheet" href="../css/pages/navbarFooter.css">
  <script src="https://kit.fontawesome.com/5e3005e55e.js" crossorigin="anonymous"></script>
      
  </head>
 
{{>navbar}}

      <!-- About Us Content -->
         <h2 class="abtUs-heading abtUs-heading--mission">Our Mission</h2>
   <section class="abtUs-top">
      <article id="abtUs-article-">
        <p class="abtUs-text_top">
            At Muse, we believe that art is not just a reflection of culture, but also a powerful lens through which we understand history, identity, and innovation. Our mission is to educate users on the importance of art and art history, while exploring how emerging technologies especially artificial intelligence are reshaping our perception of authenticity and creativity. Through our platform, we aim to spark curiosity, promote critical thinking, and inspire deeper engagement with the world of art.
        </p>
        <img class="abtUs-water" src="/images/water.jpeg" alt="Painting"/>
      </article>
      </section>
      
      <h1 class="abtH">Meet The Team</h1>
<!--Img Section -->
<div class="abtUs-slideshow">
  <!-- Slide 1 -->
  <div class="abtUs-slide one">
   
    <h1>Ismael</h1>
    <h4>Charlotte NC</h4>
    <p>CEO</p>
  </div>
  <!-- Slide 2 -->
  <div class="abtUs-slide two">
    <h1>Chamngary</h1>
    <h4>Charlotte NC</h4>
    <p>Content Curator</p>     
  </div>

  <!-- Slide 3 -->
  <div class="abtUs-slide three">
 
    <h1>Angel</h1>
    <h4>Charlotte NC</h4>
    <p>Creative Director</p>
  </div>

  <!-- Slide 4 -->
  <div class="abtUs-slide four">
   
    <h1>Jared</h1>
    <h4>Charlotte NC</h4>
    <p>Engagement Manager </p>
  </div>

  <!-- Slide 5 -->
  <div class="abtUs-slide five">
    <h1>Itaty</h1>
    <h4>Charlotte NC</h4>
    <p>Art Historian</p>
  </div>
</div>


<section class="abtUs-bottom">
      <article id="abtUs-article">
        <h2 class="abtUs-heading abtUs-heading--vision">Our Vision</h2>
        <p class="abtUs-text_bottom"> 
            In an era where artificial intelligence is rapidly advancing, its ability to imitate and even recreate art challenges our understanding of what is "real" and "fake." As AI becomes more sophisticated, its capability to replicate the styles of past masters and generate new forms of art blurs the lines between originality and imitation. At Muse, we see this as an opportunity to explore how AI is not only transforming the art world, but also how it  Our vision is to create an experience where users can explore art history, learn about art, and also understand the evolving relationship between art, technology, and society.
    </div>
      </article>
    </section>
  </main>

    <!-- Footer Section -->
{{>footer}}
  
     <script src="./js/nav.js"></script>
  </body>
</html>