<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../css/pages/contactus.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/pages/contact.css" />
    <link rel="icon" href="/img/mLogo.png" />
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <title>Contact Us</title>
  </head>

  <body>
    <div class="con-wrapper">
      <a href="/"><img id="logo" src="/img/mlogo.png" alt="Muse logo" /></a>
      <h1 class="conTitle">Contact Us</h1>
      <h3 id="userGreet"></h3>

      <!-- Error message display -->
      <p id="conError"></p>

      <!-- Contact Form -->
      <form class="formContainer" id="conContainer">
        <div id="conName-container">
          <label for="nameInput">
            <i class="fa-solid fa-user"></i>
          </label>
          <input type="text" name="name" id="conName" placeholder="Full Name" />
        </div>
        <div id="conEmail-container">
          <label for="emailInput">
            <span>@</span>
          </label>
          <input type="email" name="email" id="conEmail" placeholder="Email" />
        </div>
        <div>
          <label for="messageInput">
            <i class="fa-solid fa-comment"></i>
          </label>
          <textarea name="message" id="conMsg" placeholder="Your message"></textarea>
        </div>
        <button class="conBtn" type="submit">Send Message</button>
      </form>

      <!-- Go Back to Home -->
      <p>Got back to <a id="linkTxt" href="/">Home</a></p>

      <!-- Modal -->
      <div id="con-container-modal" class="modal">
        <div class="modal-content">
          <h1 class="modal-text-display" id="modal-greet">Redirecting...</h1>
          <h4 class="modal-text-display" id="modal-thanks">
            Thank you for your message! We'll be in contact with you shortly.
          </h4>
          <div class="modal-loading-animation">
            <dotlottie-player
              src="https://lottie.host/d9dcbbf2-e089-4f1e-b68f-174b91004cbd/6suaGyg4gT.lottie"
              background="transparent"
              speed="1"
              style="width: 300px; height: 300px"
              loop
              autoplay
            ></dotlottie-player>
          </div>
        </div>
      </div>
    </div>

    <!-- Script -->
         <script src="./js/nav.js"></script>
         <script src="./js/contact.js"></script>

  </body>
</html>
