<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/pages/explore.css">
  <link rel="stylesheet" href="../css/pages/navbarFooter.css">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <script src="https://kit.fontawesome.com/5e3005e55e.js" crossorigin="anonymous"></script>
</head>
<body>
  {{>navbar}}
  <main id="container-explore">
    <div class="search-container .fade-in-fwd">
      <div class="search-title">
        <h2 id="search-title">
        </h2>
      </div>
      <form class="search"  id="search-form">
        <input class="search-input" type="text" placeholder="Search" id="search-input">
        <button type="submit" class="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <section class="container-error hidden fade-in-fwd" id="container-error">
      <h3 id="error">ERROR:</h3>
    </section>
    <section class="container-card" id="container-card">
      <h1>
      </h1>
    </section>
  </main>
  {{>footer}}
  <script type="module" src="./js/explore.js"></script>
  <script type="module" src="./js/nav.js"></script>
</body>
</html>