<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pages/resources.css" />
    <link rel="icon" href="/assets/museLogo.png">
    <link rel="stylesheet" href="../css/pages/aiOrNot.css">
    <link rel="stylesheet" href="../css/pages/navbarFooter.css">
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <script src="https://kit.fontawesome.com/5e3005e55e.js" crossorigin="anonymous"></script>

    <title>Resources</title>
  </head>
  <body>
     {{>navbar}}
         <main>
        <section class="text-row">
        <div class="allContent">
          <div class="content1">
            <h2 class="connect-h2">Connect to the art community</h2>

            <p class="para-quote">
              Explore these creative communities to share your work, connect
              with fellow artists, and find inspiration.
            </p>
          </div>
        </div>

        <div class="text-row-items">
          <p class="p-Community">
            <a
              class="community-connect"
              href="https://www.linkedin.com/groups/12684660/"
              >ART DECO & ART NOUVEAU COMMUNITY</a
            >
          </p>
          <p class="p-Community">
            <a
              class="community-connect"
              href="https://www.linkedin.com/groups/4472701/"
              >Museum and Art Gallery Exhibitions & Events</a
            >
          </p>
        </div>
      </section>
    

      <section id="ai-container">
  <div id="aiornot-container">
  <form id="ai-form" enctype="multipart/form-data">
    <div id="form-left">
        <h1>Is it AI?</h1>
        <div id="image-container">
            <img id="uploadedImage" src="../img/logo.png" alt="Uploaded Image">
        </div>
    </div>
    <div id="form-right">
        <h3 id="aiProbability">AI Probability: --</h3>
        <div id="aiResult">
            <p id="aiResult-text"></p>
        </div>
        <input type="file" name="image" id="imageUpload" accept="image/*" />
        <button type="submit" id="form-btn" class="mainBtn">Check</button>
    </div>
</form>
</section>


      <div class="box1 boxes">
        <div class="inner-box one">
          <p>
            Explore a curated collection of tools, guides, and references designed to help you learn and create. Whether you're a beginner or a pro, there's something here for everyone. Let's build, learn, and grow together!
          </p>
        </div>
      </div>

      

      <section class="grid-section">
        <h2>Learning tools</h2>
        <div class="grid-container">
          <div class="grid-item">
            <a href="https://smarthistory.org/"
              ><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRydaEFGqqubUcMQcUAOm4DilQkxPTlIlyg9Q&s"
                alt="second-img"
            /></a>
            <p class="tool-names">Smarthistory</p>
            <p>Learn arts history</p>
          </div>

          <div class="grid-item">
            <a href="https://www.coursera.org/courses?query=art"
              ><img
                src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/656458/1561279/restricted"
                alt="third-img"
            /></a>
            <p class="tool-names">Coursera</p>
            <p>Create your own art</p>
          </div>

          <div class="grid-item">
            <a
              href="https://sightengine.com/how-to-spot-ai-images-and-deepfakes"
              ><img
                src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2024/09/16110005/starry-nights-1.jpeg"
                alt="fourth-img"
            /></a>
            <p class="tool-names">Smarthistory</p>
            <p>Discover AI vs. human art differences.</p>
          </div>
        </div>
      </section>




</div>
    </main>

     {{>footer}}
     <script src="./js/aiOrNotClient.js"></script>
      <script src="./js/nav.js"></script>
  </body>
</html>
