<footer>
  <nav class="footer-nav">
    <a href="#">logo</a>
    <ul class="footer-links">
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
      <li>
        <a href="#"><img src="#" alt="#" /></a>
      </li>
    </ul>
  </nav>
  <section class="section2">
    <div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </section>
  <section class="section3">
    <ul>
      <li><a href="#">Map</a></li>
      <li><a href="#">Call to Action</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </section>
  <section class="section4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quaerat
      quia? Laborum praesentium assumenda minus qui, ducimus quam, voluptatum
      explicabo commodi eius nemo sint voluptate cum culpa nostrum suscipit
      facilis.
    </p>
  </section>
  <section class="section5">
    <ul>
      <li>Privacy Policy</li>
      <li>Donation Policy</li>
      <li>Website by Team3</li>
    </ul>
  </section>
</footer>