<footer>
  <div class="seperator"></div>
  <nav class="footer-nav">
    <section class="section1">
      <a href="#" class="footer-logo"><img src="/img/wmuse.png" alt="" /></a>
      <ul class="footer-links">
        <li>
          <a href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </section>
  </nav>
  <section class="section2">
    <div>
      <p>Art is a human expression.</p>
      <p>Machines can't replicate true creativity.</p>
      <p>Art thrives through personal experience.</p>
      <!-- <p>Lorem ipsum dolor sit amet.</p> -->
    </div>
  </section>
  <section class="section3">
    <ul>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/contactus">Contact</a></li>
    </ul>
  </section>
  <section class="section4">
    <p>
      The website’s mission is to celebrate and preserve the rich history of
      human-created art, emphasizing the unique creativity, craftsmanship, and
      emotional depth that only people can convey, while rejecting artificial
      intelligence as a substitute for true artistic expression, and encouraging
      real, personal connections with art in its authentic form.
    </p>
  </section>
  <section class="section5">
    <ul>
      <li>Privacy Policy</li>
      <li>Donation Policy</li>
      <li>Website by Muse</li>
    </ul>
  </section>
</footer>