<main>
  <div class="main-content">
    <div class="box1 boxes">
      <div class="inner-box one">
        <h1>Box 1</h1>
        <p>This is Box 1</p>
        <button><a href="#">learn more</a></button>
      </div>

    </div>

    <div class="info-text">
      <h1>Text</h1>
      <ul>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
      </ul>
    </div>

    <div class="box2 boxes">
      <div class="inner-box two">
        <h1>Box 1</h1>
        <p>This is Box 1</p>
        <button><a href="#">learn more</a></button>
      </div>

    </div>

  </div>
</main>