<main>
  <div class="main-content">
    <div class="box1 boxes">
      <div class="inner-box one">
        <h1>Call To Action</h1>
        <p>Discover the timeless beauty and cultural significance of art across
          the ages. Dive into the stories behind famous paintings, sculptures,
          and movements that have shaped human history.
        </p>
        <button><a href="#">learn more</a></button>
      </div>

    </div>

    <div class="info-text">
      <h1>Explore Art History Topics</h1>
      <ul>
        <li><a href="#">Renaissance</a></li>
        <li><a href="#">Impressionism</a></li>
        <li><a href="#">Modern Art Movements</a></li>
        <li><a href="#">Famous Artists</a></li>
      </ul>
    </div>

    <div class="box2 boxes">
      <div class="inner-box two">
        <h1>Educational Resources</h1>
        <p>Access a variety of resources to deepen your understanding of art
          history. Browse through curated content, online exhibitions, and
          scholarly articles to enhance your knowledge.</p>
        <button><a href="#">learn more</a></button>
      </div>

    </div>

  </div>
</main>