<main>
  <div class="main-content">
    <div class="box1 boxes">
      <div class="inner-box one">
        <h1>Explore Art</h1>
        <p>Explore the timeless beauty and rich history of art. Dive into the stories behind iconic paintings, sculptures, and movements that have shaped cultures and left a lasting legacy.
        </p>
        <button><a href="/explore">learn more</a></button>
      </div>

    </div>

    <div class="info-text">
      <h1>Explore Art History Topics</h1>
      <ul>
        <li><a href="https://www.britannica.com/art/Renaissance-art" target="_blank" rel="noopener noreferrer">Renaissance</a></li>
        <li><a href="https://www.metmuseum.org/toah/hd/imml/hd_imml.htm" target="_blank" rel="noopener noreferrer"> Impressionism</a></li>
        <li><a href="https://www.artelino.com/articles/modern_art_periods.asp" target="_blank" rel="noopener noreferrer">Modern Art Movements</a></li>
        <li><a href="https://www.timeout.com/newyork/art/most-famous-artists-of-all-time" target="_blank" rel="noopener noreferrer">Famous Artists</a></li>
      </ul>
    </div>

    <div class="box2 boxes">
      <div class="inner-box two">
        <h1>Is it AI?</h1>
        <p>Curious if your image was created by AI? Click here to find out instantly and uncover the truth behind your image!</p>
        <button><a href="/resources">click here</a></button>
      </div>

    </div>

  </div>
</main>