<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/img/mLogo.png" alt="" /></a>

      <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="nav-links">
        <li><a href="/explore">Explore</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contactus">Contact</a></li>
        <li id="profile-icon">
          <i class="fa-regular fa-user"></i>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="side-nav" id="side-nav">
    <li><a href="/explore">Explore</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/aboutUs">About Us</a></li>
    <li><a href="/contactus">Contact</a></li>
    <li id="profile-icon-side">
      <i class="fa-regular fa-user"></i>
    </li>
  </ul>

  <div id="profile-modal" class="modal">
    <div class="modal-content">
      <h3>Welcome! Please choose an option:</h3>
      <a href="/signup"><button id="join-btn">Join</button></a>
      <a href="/login"><button id="login-btn">Login</button></a>
    </div>
  </div>

    <div id="profile-modal-loggedin" class="modal">
    <div class="modal-content">
      <h3 id="loggedin-info-user"></h3>
      <h5 id="loggedin-header">My info:</h5>
      <p class="loggedin-info"  id="loggedin-info-name">
      </p>
      <p class="loggedin-info" id="loggedin-info-email">
      </p>
      <div class="loggedin-info" id="loggedin-info-searches">
        <p>Recent searches:</p>
        <ul id="loggedin-info-searches-list"></ul>
      </div>
      <button id="admin-btn">Admin Page</button>
      <button id="logout-btn">Log out</button>
    </div>
  </div>

  <nav class="nav-text">
    <h1>{{title}}</h1>
    <p>
      {{description}}
    </p>
  </nav>
</header>