<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>

      <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="nav-links">
        <li><a href="#">Map</a></li>
        <li><a href="#">Call to Action</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><button>Join</button></li>
        <li><button>Log In</button></li>
      </ul>
    </div>
  </nav>
  <ul class="side-nav" id="'side-nav">
    <li><a href="#">Map</a></li>
    <li><a href="#">Call to Action</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
    <li><button>Join</button></li>
    <li><button>Log In</button></li>
  </ul>
</header>