/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 10px;
  height: 500px;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-wrapper {
    max-width: 1200px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    border-radius: 5px;

    & {
      margin-top: 30px;
    }

    .brand-logo {
      display: flex;
      align-items: center;
      font-size: 2rem;
      color: white;
      text-decoration: none;
    }

    .nav-links {
      display: flex;

      li {
        padding: 10px;
        margin: 5px;
        list-style: none;
        text-align: center;
        background-color: lightgreen;
        border-radius: 10px;

        &:hover {
          background-color: black;
        }
      }

      a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
}

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Side Navigation (Initially hidden) */
.side-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -250%;
  height: 20rem;
  background-color: #333;
  width: 10rem;
  padding: 10px;
  list-style: none;
  margin: 10px;
  border-radius: 20px;
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  li {
    margin: 15px 0;
  }

  a,
  button {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: none;
    background: transparent;
  }
}
.side-nav.active {
  right: 0; /* Show the sidebar when active */
}

@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  height: 20px;
  z-index: 10;

  span {
    background-color: #333;
    height: 4px;
    width: 2rem;
    border-radius: 2px;
  }
}

//media queries for navbar
@media (max-width: 768px) {
  /* Show Hamburger Menu */

  .hamburger-menu {
    display: flex;
  }

  /* Hide nav links for smaller screens */
  .nav-links {
    display: none !important;
  }

  /* Show side navigation when active */
  .side-nav.active {
    display: block;
  }
}

/* For screens larger than 768px */
@media (min-width: 769px) {
  /* Display the nav links horizontally */
  .nav-links {
    gap: 20px;
  }

  /* Hide the side navigation on larger screens */
  .side-nav {
    display: none;
  }
}
