* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 12pt;
  color: #2e2b41;
  text-align: center;
  min-height: 100vh;
  background-image: url(/img/contactB.png);
  background-size: 100%;
  background-color: #3d3d3d;
  background-position: right;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.con-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  height: 100vh;
  padding: 10px;
  width: 90%;
  max-width: 900px;
  border-radius: 5px 5px 5px 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.conTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  gap: 10px;
}

.formContainer > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formContainer label {
  font-size: 1.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  background-color: #739596;
  fill: #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 3px 0 0 3px;
}

.formContainer input {
  flex-grow: 1;
  box-sizing: border-box;
  font: inherit;
  min-width: 0;
  height: 50px;
  padding: 1em;
  border-left: none;
  border: 2px solid #b1cccc7a;
  border-radius: 3px;
  background-color: #b1cccc7a;
  transition: 150ms ease;
}

.formContainer input:focus {
  outline: none;
  border-color: #3d3d3d;
}

div:has(input:focus) > label {
  background-color: #3d3d3d;
}

.formContainer input:hover {
  border-color: #739596;
}

.formContainer input::placeholder {
  color: #2e2b41;
}

.formContainer textarea {
  flex-grow: 1;
  box-sizing: border-box;
  font: inherit;
  min-width: 0;
  height: 120px;
  padding: 1em;
  border: 2px solid #b1cccc7a;
  border-radius: 3px;
  background-color: #b1cccc7a;
  transition: 150ms ease;
  resize: none;
}

.formContainer textarea:hover {
  border-color: #739596;
}

.formContainer textarea:focus {
  outline: none;
  border-color: #3d3d3d;
}

div:has(textarea:focus) > label {
  background-color: #3d3d3d;
}

.formContainer textarea::placeholder {
  color: #2e2b41;
}

.messageIcon {
  height: auto;
}

.conBtn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  padding: 0.85em 4em;
  background-color: #739596;
  color: #ffffff;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  transition: 150ms ease;
}

.conBtn:hover {
  background-color: #3d3d3d;
}

.conBtn:focus {
  background-color: #3d3d3d;
  outline: none;
}

#linkTxt {
  text-decoration: none;
  color: #739596;
}

#linkTxt:hover {
  text-decoration: underline;
}

#logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 67px;
  height: auto;
  cursor: pointer;
}

#logo:hover {
  transform: translateY(-8px);
}

#conError {
  width: 100%;
  margin-top: -30px;
  margin-bottom: 20px;
  color: #eb5062;
}

#userGreet{
  margin: 2rem 0;
}

#userGreet{
  margin: 2rem 0;
}

form div.incorrect label {
  background-color: #eb5062;
}
form div.incorrect input {
  border-color: #eb5062;
}

form div.incorrect textarea {
  border-color: #eb5062;
}

@media (max-width: 1100px) {
  .container-wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-text-display{
  padding: 15px 0;
  text-align: left;
}

#modal-redirect{
  text-align: center;
}
