* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 12pt;
    color: #2E2B41;
    text-align: center;
    min-height: 100vh;
    background-image: url(/img/24.png);
    background-size: cover; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #658485;
    background-position: right;
    overflow: hidden;
}

.container-wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    padding: 10px;
    width: max(49%, 600px);
    border-radius: 5px 0 0 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mainTitle{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 10px;
}

.formContainer > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formContainer label {
    font-size: 1.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #739596;
    fill: #ffffff;
    color: rgb(255, 255, 255);
    border-radius: 3px 0 0 3px
}

.formContainer input{
    flex-grow: 1;
    box-sizing: border-box;
    font: inherit; 
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-left: none;
    border: 2px solid #b1cccc7a;
    border-radius: 3px;
    background-color: #b1cccc7a;
    transition: 150ms ease;
}

.formContainer input:focus{
    outline: none;
    border-color: #3d3d3d;
}

div:has(input:focus) > label{
    background-color: #3d3d3d;
}

.formContainer input:hover{
    border-color: #739596;
}


.mainBtn{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    padding: .85em 4em;
    background-color: #739596;
    color: #ffffff;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

.mainBtn:hover{
    background-color: #3d3d3d;
}

.mainBtn:focus{
    background-color: #3d3d3d;
    outline: none;
}

#linkTxt{
    text-decoration: none;
    color: #739596;
}

#linkTxt:hover{
    text-decoration: underline;
}

#logo{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 67px;
    height: auto;
    cursor: pointer;
}



#errorMessage{
    width: 100%;
    margin-top: -30px;
    margin-bottom: 20px;
    color: #eb5062;
}

form div.incorrectTxt label{
    background-color: #eb5062;
}

form div.incorrectTxt input{
    border-color: #eb5062;
}

#homeTxt{
    margin-top: 10px;
}

@media(max-width: 1100px){
    .container-wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}


